a{
	color:#fff;
	text-decoration: none;
}


h1{
    margin-left: 2%;
    margin-right: 2%; 
}

.tekst2 {
    margin-left: 2%;
    margin-right: 2%;
    max-width: 1300px;
    text-align: justify;
    font-size: 16px;

}
.container-container1{
    text-align: center;
}

.tekst {
    padding-top: 30px;
    font-size: 16px;
}

.container1{
    display:inline-block;
    max-width:900px;
    max-height: 900px;
	margin:50px auto;
	overflow:auto;
}

.slider-inner{
	max-width:800px;
	max-height:800px;
	position:relative;
	overflow:hidden;
	float:left;
	padding:3px;
	border:#666 solid 1px;
}

.slider-outer{
    max-width:880px;
    max-height: 880px;
    
}

.slider-inner img{
	display:none;
	max-width:800px;
	max-height:800px;
}

.slider-inner img.active{
	display:inline-block;
}

.prev,.next{
	float:left;
	margin-top:130px;
	cursor: pointer;
}

.prev{
	position:relative;
	margin-right:-45px;
	z-index:100;
}

.next{
	position:relative;
	margin-left:-45px;
	z-index:100;
}

.grid-item img {
    width: 65%;
    height: 65%;
    padding: 0;
    position: center;
    background: fill;
}


.grid-container {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    
  
    margin-left:20%;
  
  }
  .grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    background-color: #6b8689;
  
  }